project_id                     = "@@PROJECT_ID@@"
region                         = "@@REGION@@"
terraform_bucket_name          = "@@TF_STATE_BUCKET@@"
build_monitoring_email_address = "@@NOTIFICATION_EMAIL@@"
monitoring_email_address       = "@@NOTIFICATION_EMAIL@@"
github_owner                   = "@@GITHUB_OWNER@@"
github_repo_name               = "@@GITHUB_REPO@@"
github_branch                  = "@@GIT_BRANCH@@"
calendar_id                    = "@@CALENDAR_ID@@"
yaas_pip_package               = "@@PIP_PACKAGE@@"
