standard | ${RUN_ID} | min_instances ${RUN_MIN_INSTANCES}
standard | ${RUN_ID} | max_instances ${RUN_MAX_INSTANCES}
standard | ${RUN_ID} | concurrency ${RUN_CONCURRENCY}
standard | ${SQL_ID} | instance_type ${SQL_INSTANCE_TYPE}
