**.egg-info
**.eggs
**.md
**__pycache__
*.log
.coverage
.gcloudignore
.git
.gitignore
.pylintrc
.pytest_cache
.venv
bin
build
dist
doc
gcp_resources
integ_test_data
pyproject.toml
pytest.ini
setup.cfg
setup.py
terraform
test_data
tests
#!include:.gitignore
